<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Navigation</title>
    <link rel="stylesheet" href="../sidebar/sidebar.css">
</head>
<body>
    <nav class="sidebar">
        <ul class="nav-menu">
            <li class="nav-item">
                <div class="nav-icon">
                    <img src="../../assets/icons/search-normal.png" alt="Search" class="nav-icon-img nav-icon-normal">
                    <img src="../../assets/icons/search-active.png" alt="Search" class="nav-icon-img nav-icon-active">
                </div>
                <span>Search</span>
            </li>
            <li class="nav-item active">
                <div class="nav-icon">
                    <img src="../../assets/icons/home-normal.png" alt="Home" class="nav-icon-img nav-icon-normal">
                    <img src="../../assets/icons/home-active.png" alt="Home" class="nav-icon-img nav-icon-active">
                </div>
                <span>Home</span>
            </li>
            <li class="nav-item">
                <div class="nav-icon">
                    <img src="../../assets/icons/movies-normal.png" alt="Movies" class="nav-icon-img nav-icon-normal">
                    <img src="../../assets/icons/movies-active.png" alt="Movies" class="nav-icon-img nav-icon-active">
                </div>
                <span>Movies</span>
            </li>
            <li class="nav-item">
                <div class="nav-icon">
                    <img src="../../assets/icons/tvseries-normal.png" alt="TV Series" class="nav-icon-img nav-icon-normal">
                    <img src="../../assets/icons/tvseries-active.png" alt="TV Series" class="nav-icon-img nav-icon-active">
                </div>
                <span>TV Series</span>
            </li>
            <li class="nav-item">
                <div class="nav-icon">
                    <img src="../../assets/icons/livetv-normal.png" alt="Live TV" class="nav-icon-img nav-icon-normal">
                    <img src="../../assets/icons/livetv-active.png" alt="Live TV" class="nav-icon-img nav-icon-active">
                </div>
                <span>Live TV</span>
            </li>
            <li class="nav-item">
                <div class="nav-icon">
                    <img src="../../assets/icons/premium-normal.png" alt="Premium" class="nav-icon-img nav-icon-normal">
                    <img src="../../assets/icons/premium-active.png" alt="Premium" class="nav-icon-img nav-icon-active">
                </div>
                <span>Premium</span>
            </li>
            <li class="nav-item">
                <div class="nav-icon">
                    <img src="../../assets/icons/kidsandfamily-normal.png" alt="Kids & Family" class="nav-icon-img nav-icon-normal">
                    <img src="../../assets/icons/kidsandfamily-active.png" alt="Kids & Family" class="nav-icon-img nav-icon-active">
                </div>
                <span>Kids & Family</span>
            </li>
        </ul>
    </nav>
    <script src="../sidebar/sidebar.js"></script>
</body>
</html>